In [73]:
import numpy as np
import pandas as pd

URL_DATA = 'https://storage.googleapis.com/dosm-public-pricecatcher/lookup_premise.parquet'
df_premise_code = pd.read_parquet(URL_DATA)
if 'date' in df_premise_code.columns: df_premise_code['date'] = pd.to_datetime(df_premise_code['date'])


URL_DATA = 'https://storage.googleapis.com/dosm-public-pricecatcher/lookup_item.parquet'
df_item_code = pd.read_parquet(URL_DATA)
if 'date' in df_item_code.columns: df_item_code['date'] = pd.to_datetime(df_item_code['date'])

In [74]:
import numpy as np
import pandas as pd

#!pip install pandas fastparquet

URL_DATA = 'https://storage.googleapis.com/dosm-public-pricecatcher/pricecatcher_2023-09.parquet'

df = pd.read_parquet(URL_DATA)
if 'date' in df.columns: df['date'] = pd.to_datetime(df['date'])
df.tail()

              date  premise_code  item_code  price
2454096 2022-01-31         20715       1978    4.2
2454097 2022-01-31         20715       2001   25.5
2454098 2022-01-31         20715       2008   18.2
2454099 2022-01-31         20715       2009   23.9
2454100 2022-01-31         20715       2010   23.9

In [75]:
def merge_data(df):

    tempdf = df.copy() #must make a copy . doing tempdf=df7 is just reassigning

    print(tempdf.head())
    #
    p =tempdf.pop('premise_code').map(df_premise_code.set_index('premise_code')["premise_type"])
    p.name = 'premise_type'


    tempdf = df.copy() #must make a copy . doing tempdf=df7 is just reassigning
    q =tempdf.pop('premise_code').map(df_premise_code.set_index('premise_code')["premise"])
    q.name = 'premise'

    tempdf = df.copy() #must make a copy . doing tempdf=df7 is just reassigning
    s =tempdf.pop('premise_code').map(df_premise_code.set_index('premise_code')["state"])
    s.name = 'state'

    tempdf = df.copy() #must make a copy . doing tempdf=df7 is just reassigning
    t = tempdf.pop('premise_code').map(df_premise_code.set_index('premise_code')['district'])
    t.name = "district"

    tempdf = df.copy() #must make a copy . doing tempdf=df7 is just reassigning
    u = tempdf.pop('item_code').map(df_item_code.set_index('item_code')['item'])
    u.name = "item"

    tempdf = df.copy() #must make a copy . doing tempdf=df7 is just reassigning
    v = tempdf.pop('item_code').map(df_item_code.set_index('item_code')['unit'])
    v.name = "unit"

    tempdf = df.copy() #must make a copy . doing tempdf=df7 is just reassigning
    w = tempdf.pop('item_code').map(df_item_code.set_index('item_code')['item_category'])
    w.name = "item_category"

    
    tempdf = df.copy() #must make a copy . doing tempdf=df7 is just reassigning
    w2 = tempdf.pop('item_code').map(df_item_code.set_index('item_code')['item_group'])
    w2.name = "item_group"

    #print('S:\n',s) 
    #print('T:\n',t)

    df_merged = pd.concat([df,p,q,s,t,u,v,w,w2],axis=1)
    return df_merged

In [76]:
df_master = merge_data(df)

        date  premise_code  item_code  price
0 2022-01-01             2          1    9.1
1 2022-01-01             2          9   36.0
2 2022-01-01             2         14   24.0
3 2022-01-01             2         16    4.3
4 2022-01-01             2         18    4.5

In [77]:
df_master.head()

,date,premise_code,item_code,price,premise_type,premise,state,district,item,unit,item_category,item_group
0,2022-01-01,2,1,9.1,Pasar Basah,PASAR BESAR IPOH,Perak,Kinta,AYAM BERSIH - STANDARD,1kg,AYAM,BARANGAN SEGAR
1,2022-01-01,2,9,36.0,Pasar Basah,PASAR BESAR IPOH,Perak,Kinta,DAGING KAMBING BEBIRI IMPORT BERTULANG (MUTTON...,1kg,DAGING,BARANGAN SEGAR
2,2022-01-01,2,14,24.0,Pasar Basah,PASAR BESAR IPOH,Perak,Kinta,DAGING KERBAU IMPORT (INDIA) * (TOP SIDE),1kg,DAGING,BARANGAN SEGAR
3,2022-01-01,2,16,4.3,Pasar Basah,PASAR BESAR IPOH,Perak,Kinta,BETIK BIASA,1kg,BUAH-BUAHAN,BARANGAN SEGAR
4,2022-01-01,2,18,4.5,Pasar Basah,PASAR BESAR IPOH,Perak,Kinta,PISANG BERANGAN,1kg,BUAH-BUAHAN,BARANGAN SEGAR

In [78]:
df_master.item_group.unique()

array(['BARANGAN SEGAR', 'BARANGAN KERING', 'BARANGAN BERBUNGKUS',
       'MINUMAN', 'PRODUK KEBERSIHAN', 'SUSU DAN BARANGAN BAYI',
       'MAKANAN SIAP MASAK', 'BARANGAN KEDAI SERBANEKA'], dtype=object)

In [79]:
df_master[df_master['item_group']=='BARANGAN SEGAR'].item_category.unique()

array(['AYAM', 'DAGING', 'BUAH-BUAHAN', 'BAHAN LAUT', 'IKAN DARAT',
       'SAYUR-SAYURAN', 'KELAPA', 'TELUR', 'MEE/KUETIAU',
       'TAUHU DAN TEMPE'], dtype=object)

In [113]:
df_master[df_master['item']=='DAGING LEMBUTEMPATAN']

Empty DataFrame
Columns: [date, premise_code, item_code, price, premise_type, premise, state, district, item, unit, item_category, item_group]
Index: []

In [120]:
df_ayam = df_master[df_master['item_code']==1]
df_ayam.head()

,date,premise_code,item_code,price,premise_type,premise,state,district,item,unit,item_category,item_group
0,2022-01-01,2,1,9.10,Pasar Basah,PASAR BESAR IPOH,Perak,Kinta,AYAM BERSIH - STANDARD,1kg,AYAM,BARANGAN SEGAR
932,2022-01-01,16,1,8.90,Pasar Raya / Supermarket,PASARAYA K-CERIA (KANGAR) SDN. BHD,Perlis,Kangar,AYAM BERSIH - STANDARD,1kg,AYAM,BARANGAN SEGAR
1152,2022-01-01,115,1,8.30,Pasar Raya / Supermarket,TAMPIN SHOPPING CENTRE,Negeri Sembilan,Tampin,AYAM BERSIH - STANDARD,1kg,AYAM,BARANGAN SEGAR
1386,2022-01-01,136,1,8.99,Pasar Raya / Supermarket,THE STORE ( PUDU PLAZA ),W.P. Kuala Lumpur,Cheras,AYAM BERSIH - STANDARD,1kg,AYAM,BARANGAN SEGAR
1611,2022-01-01,141,1,8.60,Pasar Raya / Supermarket,HUDA GROCER,Negeri Sembilan,Seremban,AYAM BERSIH - STANDARD,1kg,AYAM,BARANGAN SEGAR

In [115]:
df_ayam.tail()

,date,premise_code,item_code,price,premise_type,premise,state,district,item,unit,item_category,item_group
2420197,2022-01-31,17871,1431,36.0,Pasar Basah,PASAR AWAM MAHARANI,Johor,Muar,DAGING LEMBU TEMPATAN (BAHAGIAN 1 DAGING PAHA ...,1kg,DAGING,BARANGAN SEGAR
2420294,2022-01-31,17872,1431,36.0,Pasar Basah,PASAR AWAM TANGKAK,Johor,Ledang,DAGING LEMBU TEMPATAN (BAHAGIAN 1 DAGING PAHA ...,1kg,DAGING,BARANGAN SEGAR
2425585,2022-01-31,17987,1431,58.0,Hypermarket,MYDIN HYPERMARKET VISTA TUNKU,Sarawak,Kuching,DAGING LEMBU TEMPATAN (BAHAGIAN 1 DAGING PAHA ...,1kg,DAGING,BARANGAN SEGAR
2432776,2022-01-31,18144,1431,41.9,Pasar Raya / Supermarket,NSK TRADE CITY (PANDAN) SDN BHD,Johor,Johor Bahru,DAGING LEMBU TEMPATAN (BAHAGIAN 1 DAGING PAHA ...,1kg,DAGING,BARANGAN SEGAR
2445988,2022-01-31,18503,1431,58.0,Pasar Raya / Supermarket,LEPAPA SUPERMARKET MATANG,Sarawak,Kuching,DAGING LEMBU TEMPATAN (BAHAGIAN 1 DAGING PAHA ...,1kg,DAGING,BARANGAN SEGAR

In [124]:
df_ayam[['price']].mean()

price    8.868708
dtype: float64